<!--
Coded By OBEID ARASH
https://github.com/obeidarash/url
 -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Obeid Arash">
    <meta name="description" content="A link shortener web app">
    <meta name="keywords" content="link, url, shortener, tinyurl">
    <meta name="robots" content="follow">
    <link rel="stylesheet" href="{% static 'css/bootstrap_custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <title>Micro Link | a link Shortener</title>
</head>
<body>
<div class="d-flex h-100 align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="jumbotron flex-grow-0 flex-shrink-1" id="gateway">
                    <form action="{% url "shortener:home" %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            {{ form.link }}
                            <button class="btn btn-secondary" type="submit" id="button-addon2">Shorten</button>
                        </div>
                    </form>
                    {% if url %}
                        <div class="alert alert-success">
                            Your short link is:
                            <a href="{{ url }}" target="_blank"
                               class="align-items-center">{{ request.get_host }}{% url 'shortener:go' url %}</a>
                        </div>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <a href="/admin" target="_blank" class="btn btn-outline-warning">Admin</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>